/* Styles for custom buttons */
.button-container {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-20%);
  display: flex;
  justify-content: center;
  gap: 5px;
}

.button {
  padding: 25px 30px;
  background-color: #03770d;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #01933b;
}

.button:focus {
  outline: none;
}

/* Laptops and Macbooks below */
@media (max-width: 1250px) { /* pixels on a screen size */
  .button {
    padding: 15px 15px; /* Button Sizing */
    font-size: 1rem; /* font size */
  }
}





  

