

.button-box {
  display: flex;
  justify-content: right;
  align-items: right;
  height: 150px;
  width: 1200px;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 150%;
  left: 200%;
  transform: translateY(-500%, -50%);
}
