form {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  border: 1px solid green;
  padding: 50px;
  border-radius: 25px;
  text-align: left; 
   

}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
}
label:after { content: ": " }



#submit:focus {
  outline: 2px solid gray;
  font-weight: bold;
  color: white;
}

#submit:hover {
  background-color: rgb(147, 155, 138);
  box-shadow: 3px 3px 5px grey;
}

#submit {
  padding: 10px;
  border: 1px solid gray;
  background-color:#07402c;
  border-radius: 5px;
  font: inherit;
  margin-top: 2%; 
  color: white;
  
}

.error-msg {
  background-color: transparent; /* Change the background color to transparent */
  color: #721c24;
  padding: 2px;
  margin: 15px 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  color: red;
}

.visible {
  background-color: #f8d7da; /* Move the background color to the 'visible' class */
}

.shake {
  animation: shake 1s ease-in-out;
}




